{% extends 'base.html' %}
{% load static %}


{% block title %}
Inicia Sesión
{% endblock title %}


{% block STATIC %}
<link rel="stylesheet" href="{% static 'css/AdminStyles.css' %}">
<script src="{% static 'js/AdminScripts.js' %}"></script>
<script src="{% static 'js/datatablesSimple.js' %}"></script>
{% endblock STATIC %}




{% block SECTION %}


<div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header">
                                <h3 class="text-center font-weight-light my-4">Inicio de Sesion</h3>
                            </div>
                            <div class="card-body">
                                <form method="post" action="{% url 'login' %}">
                                    {% csrf_token %}
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="username" name="username" type="text"
                                            placeholder="" />
                                        <label for="inputUser">Usuario</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="password" name="password" type="password"
                                            placeholder="Password" />
                                        <label for="inputPassword">Contraseña</label>
                                    </div>

                                    <a class="btn btn-primary" href="{% url 'home' %}">Regresar al inicio</a>

                                    <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                        <a class="small" href="{% url 'recovery' %}">Olvidaste tu Contraseña? </a>
                                        <button class="btn btn-primary" type="submit">Ingresar</button>
                                    </div>
                                </form>
                            </div>
                            <div class="card-footer text-center py-3">
                                <div class="small"><a href="{% url 'register' %}">Necesitas nueva cuenta ?</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"crossorigin="anonymous"></script>
{% endblock %}