{% extends 'base.html' %}
{% load static %}


{% block title %}
  Inicia Sesión
{% endblock title %}


{% block contentCSS %}
  <link rel="stylesheet" href="{% static 'Admin/adminStatic/css/AdminStyles.css' %}">
  <script src="{% static 'js/AdminScripts.js' %}"></script>
  <script src="{% static 'js/datatablesSimple.js' %}"></script>
{% endblock %}

{% block SECTION %}

     <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-5">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header">
                                    <h3 class="text-center font-weight-light my-4">¿Has olvidado tu contraseña?</h3>
                                </div>
                                <div class="card-body recuperacion-form"> <!-- Agregar una clase CSS al contenedor del formulario de recuperación de contraseña -->
                                    <form method="post" action="{% url 'recovery' %}">
                                        {% csrf_token %}
                                        <div class="form-floating mb-3">
                                            <input class="form-control" id="email" name="email" type="email" placeholder="Correo Electrónico" />
                                            <label for="email">Usuario o email</label>
                                        </div>
                                        <!-- Agregar más campos de recuperación de contraseña aquí si es necesario -->
                                        <button class="btn btn-primary" type="submit">Enviar</button>
                                    </form>
                                </div>
                                <div class="card-footer text-center py-3">
                                    <div class="small"><a href="{% url 'login' %}">¿Recordaste tu contraseña? Inicia sesión</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
{% endblock %}