{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}  {% endblock  %}</title>
        <!-- ========== Start ESTATICOS CSS GENERALES ========== -->
        
        <!--<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">-->
        <link rel="stylesheet" href="{% static 'css/Admin/AdminStyles.css' %}">
        <script src="{% static 'FontAwesome/js/all.min.js' %}"></script>
        <!-- ========== End ESTATICOS  CSS GENERALES ========== -->

        <!-- ========== Start ESTATICOS CSS  DE LA PAGINA ========== -->
            {% block contentCSS %}      {% endblock  %}
        <!-- ========== End ESTATICOS  CSS DE LA PAGINA ========== -->
        
    </head>
    <body>
        <!-- ========== Start NAVBAR ========== -->
            {% block nav %}         {% endblock  %}
        <!-- ========== End NAVBAR ========== -->
        
        <!-- ========== Start SECTION ========== -->
            {% block SECTION %}     {% endblock  %}
        <!-- ========== End SECTION ========== -->

        <!-- ========== Start FOOTER ========== -->
            {% block footer %}      {% endblock  %}
        <!-- ========== End FOOTER ========== -->

        <!-- ========== Start ESTATICOS JS GENERALES ========== -->
        
        <!-- ========== End ESTATICOS JS GENERALES ========== -->

        <!-- ========== Start ESTATICOS JS DE LA PAGINA ========== -->
        {% block contentJS %}   {% endblock  %}
        <!-- ========== End ESTATICOS  JS DE LA PAGINA ========== -->
    </body>
</html>