{% load static %}

<div class="footer-section">
    <div class="container">
        <div class="footer-cta pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fas fa-map-marker-alt"></i>
                        <div class="cta-text">
                            <h4>Encuentranos</h4>
                            <span>ubicacion del negocio</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fas fa-phone"></i>
                        <div class="cta-text">
                            <h4>Llamanos</h4>
                            <span>+57 00000000</span>
                        </div>
                    </div>
                </div>
                
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="far fa-envelope-open"></i>
                        <div class="cta-text">
                            <h4>Envianos un correo electronico</h4>
                            <span>correo.com</span>
                        </div>
                    </div>
                </div>
                <div class="linea "></div>
                <div class="col-xl-4  col-md-4 mb-30">
                    <div class="footer-widget">
                        <div class="footer-social-icon">
                            <span>Siguenos</span>
                            <a href="#"><i class="fab fa-facebook-f facebook-bg"></i></a>
                            <a href="#"><i class="fab fa-twitter twitter-bg"></i></a>
                            <a href="#"><i class="fab fa-google-plus-g google-bg"></i></a>
                        </div>
                    </div>
                </div>
                
                <div class="col-xl-4  col-md-4 mb-30">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Subscribete</h3>
                        </div>
                        <div class="footer-text mb-25">
                            
                            <p>No deje de suscribirse a nuestros nuevos diseños, complete el formulario a continuación.</p>
                        </div>
                        <div class="subscribe-form">
                            <form action="#">
                                <input type="text" placeholder="Email">
                                <button><i class="fab fa-telegram-plane"></i></button>
                                
                            </form>
                            
                        </div>
                        
                    </div>
                    <a href="{% url 'CRUD'%}">Ver producto</a>
                            <a href="{% url 'edit'%}">Ver producto</a>
                </div>
            </div>
        </div>
    </div>
</div>